{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/album.css" type="text/css" media="all" />
<script src="/static/album.js"></script>
<script>
    var urls = {{ data.album.playlist_urls_js() }};
</script>
{% endblock %}

{% block title %}{{ data.album.title }}{% endblock %}

{% block content %}
    <h1 id="album_title">{{ data.album.title }}</h1>
    <table id="album_data">
        <tr>
            <th>Run time:</th>
            <td>{{ data.album.duration() }}<td>
            <th>Source:</th>
            <td>{{ data.album.source }}<td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>{{ data.album.date }}<td>
            <th>Encoding:</th>
            <td>{{ data.album.encoding }}<td>
        </tr>
        <tr>
            <th>City:</th>
            <td><a href="/city/{{ data.album.city_slug }}">{{ data.album.city }}</a><td>
            <th>Performance:</th>
            <td>??/10<td>
        </tr>
        <tr>
            <th>Venue:</th>
            <td><a href="/venue/{{ data.album.venue_slug }}">{{ data.album.venue }}</a><td>
            <th>Sound:</th>
            <td>??/10<td>
        </tr>
    </table>
    <br>
    <div id="player_box">
        <div id="currently_playing"></div>
        <div id="player_container"><audio id="player" controls></audio></div>
    
        <table id="playlist_table">
            {% for song in data.album.songs %}
            <tr class="row_{{ song.track }}">
                <td class="links_column">
                    <a class="more_link" href="/song/{{ song.slug }}">more</a>
                </td>

                <td class="track_column">
                     {{ song.track }}
                </td>
                <td class="title_column">
                    <a href="" class="playlist_item" id="track_{{ song.track }}">{{ song.title }}</a>
                    {% if song.info %}
                        <span class="song_info">
                            {% if song.date %}
                            <span class="song_date">{{ song.date }}</span>
                            {% endif %}
                            {{ song.info }}
                        </span>
                    {% endif %}
                </td>
                <td class="duration_column">
                    <span class="hidden_info" id="info_{{ song.track }}">
                        <span class="title">{{ song.title }}</span>
                        <span class="duration">{{ song.duration }}</span>
                        <span class="slug">{{ song.slug }}</span>
                    </span>
                    {{ song.duration }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'dylanshows'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <script>
        var player = $('#player');

        var initial_track = 1;
        if(window.location.hash.substr(1, 5) == 'track') {
            initial_track = Number(window.location.hash.substr(6));
        }

        // set initial state
        set_player(initial_track);

        player.bind('ended', function() {
            var track = Number($(this).attr('track'));
            var new_track = track + 1;
            if (new_track >= urls.length) {
                return
            }
            set_player(new_track);
            fire_tracking_event('ended', track);
        });

        player.bind('change', function() {
            player.get(0).play();
        });

        player.bind('play', function() {
            fire_tracking_event('started', $(this).attr('track'));
        });

        player.bind('error', function() {
            var this_track = Number(player.attr('track'));
            fire_tracking_event('error', this_track);
            set_player(this_track + 1);
        });

        $("a.playlist_item").click(function(e) {
            // when the user clicks on a item in the playlist
            e.preventDefault();
            var this_track = $(this).attr('id').substr(6);
            set_player(Number(this_track));
        });

    </script>
{% endblock %}