#spinner {
    margin: 10px;
    display: none;
}

#submit_button {
    display: none;
}

.track {
    width: 2em;
}

.duration {
    width: 3em;
}

.title {
    width: 30em
}

.info {
    width: 10em;
}