body { 
    background:#eee;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    margin:10px;
    padding:10px;
}

header {
    fone-size: large;
    background: black;
    padding: 3px;
    color: white;
}

header a {
    color: white;
}

footer {
    font-size: x-small;
    text-align: center;
}

#social {
    text-align: right;
    padding-top: 5px;
    height: 2px;
}

.errors {
    color: red;
    font-weight: bold;
}