{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/form.css" type="text/css" media="all" />
{% endblock %}

{% block title %}Create New Album{% endblock %}

{% block content %}
<h1>New Album</h1>
<form method="post">
    <div class="errors">{{ errors.message }}</div>
    <label for="title">Title: </label><input type="text" id="title" name="title" value="{{ errors.title.value }}"><br>
    <label for="date">Date:</label><input type="text" id="date" name="date" value="{{ errors.title.value }}">yyyy-mm-dd<br>
    <label for="bucket">Bucket:</label><input type="text" id="bucket" name="bucket" value="{{ errors.bucket.value }}"><br>
    <label for="folder">Folder:</label><input type="text" id="folder" name="folder" value="{{ errors.folder.value }}"><br>
    <label for="venue">Venue:</label><input type="text" id="venue" name="venue" value="{{ errors.venue.value }}"><br>
    <label for="city">City:</label><input type="text" id="city" name="city" value="{{ errors.city.value }}"><br>
    <label for="source">Source:</label><input type="text" id="source" name="source" value="{{ errors.source.value }}"><br>
    <label for="encoding">Encoding:</label><input type="text" id="encoding" name="encoding" value="{{ errors.encoding.value }}"><br>
    <input type="button" value="get tracks" id="get_tracks">
    <div id="tracks"></div>
    <img id="spinner" src="/static/spinner.gif">
    <br>
    <input id="submit_button" type="submit">
</form>
<script>
    $('#get_tracks').click(function() {
        $('#get_tracks').hide();
        var bucket = $('#bucket').val();
        var folder = $('#folder').val();
        $("#spinner").show();
        $.get(
            '/bucket_contents', {bucket: bucket, folder: folder}
        ).done(function(r) {
            var filename, html, duration;
            var num_of_tracks = r.length - 1;
            $.each(r, function(i, obj) {
                filename = obj['filename'];
                duration = obj['duration'];
                html = "<div class='song'><strong>" + filename + "</strong>\
                            <div>\
                                <input type='hidden' name='s3_" + i + "' value='" + escape(filename) + "'>\
                                Track: <input class=\"track\" type='text' name='track_" + i + "' value='" + (Number(i)+1) + "'>\
                                Title: <input class=\"title\" type='text' name='title_" + i + "'>\
                                Info: <input class=\"info\" type='text' name='info_" + i + "'>\
                                Date: <input class=\"date\" type='text' name='date_" + i + "'>\
                                Duration: <input class=\"duration\" type='text' name='duration_" + i + "' value='" + duration + "'>\
                            </div>\
                        </div>";
                $("#tracks").append(html);
            });
            $('#tracks').append($("<input type='hidden' name='num_of_tracks' value='" + num_of_tracks + "'>"));
            $('#submit_button').show();
            $("#spinner").hide();
        }).error(function(r) {
            $("#spinner").hide();
            console.log(r);
            alert(r.responseText);
        });
    });
</script>
{% endblock %}