<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
    <header>
        </h2><a href="/">Home</a></h2> - 
        <a href="/songs">Songs</a> - 
        <a href="/venues">Venues</a> - 
        <a href="/cities">Cities</a> -
        <a href="/albums">Albums</a>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        &copy; 2012 - 2013 Chris Priest. <a href="https://github.com/priestc/dylan">Driven by open source</a>.
    </footer>
    </body>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-501381-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</html>