{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Dylan Shows</h1>

    <p>
        BitTorrent is great for grabbing live shows, but only if there are seeders.
        At Dylan Shows, all shows are available for streaming at all times.
    </p>

    <p>
        Dylan Shows is build on top of a distributed file hosting platform.
        Anyone can host music that is indexed through this site.
    </p>

    <p>
        If you have a collectin of Bob Dylan live shows in lossless format and would
        like to help serve data on Dylan Shows, please send an email to info@dylanshows.com
    </p>

    <p>
        Currently, the site only works in Firefox or Chrome. Internet Explorer
        does not have the codecs to play ogg files.
    </p>

{% endblock %}